.revista{
    background-image: url(../../assets/background.png);
  }

.carousel1 {
    width: 100vw;
    height: 80vh;
    background-image: url(../../assets/Sobre.png);
    background-repeat: no-repeat;

}

.sobre1{
    max-width: 100%;
   
}

.text3{
    color:#ff604d;
}

.fundo2{
    background-color: white;
    opacity: 100%;
}

.fazemos1 {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.teste {
    display: flex;
    flex-wrap: wrap;
    align-content:space-around;
    justify-content:space-evenly;
    flex-direction: row;
    align-items: center; 
    margin-bottom: 70px;  
}

.fazemosbox1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    width: 120vh;
    margin: 30px;
}

.fazemosbox1 p {
    width: 80%;
    font-size: 25px;
    margin: 30px;
}

.BoxIn{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: stretch;
    margin-top: -30px;
    background-color: rgba(255, 255, 255, 0.697);
    opacity: 80%;
}
.semfins{
    margin-top: 50px;
}
.fundoHenrique{
    background-color: rgba(255, 255, 255, 0.478);
}
.h2 {
    color: #55a8dc;
}
.h3{
    color: #ff604d;
}

.caixaInte{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    max-width: 80%;
}

.caixaInte2{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;  
}
.caixaInte22 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    
}

.caixaInte3{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.caixaInte4{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 90%;
    margin-top: -30px;
    text-align: center;    
}

.margintop{
    margin-top:10px
}