
.imgCart{
    width: 25%;
    height: 25%;
    object-fit: cover;
}

.container-carrinho{
    text-align: center;
    align-items: center;
}

.MuiDrawer-paper{
    width: 30% ;
}

.botoes-carrinho{
    padding: 0 20px !important;
    font-size: 10px !important;
}

.btn2{
    height: 43px;
    width: 200px;
    text-align: center;
    font-size: 16px;
    border-radius: 8px;
    color: #FFFFFF;
    cursor: pointer;
    border: 1px solid;
    border-color: #8b8989;
    background-color: #07607b;
}

.btn2:hover{
    background: #df604f;
    color: #FFFFFF;
  }

  .btFinish1{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
  }

.btnDelete{
    background-color: #DF604F !important;
    padding: 0 20px !important;
    font-size: 12px !important;
    margin-bottom: 10px !important;
} 
.btnDelete:hover {
    background-color: #ff1e00 !important;
    padding: 0 20px !important;
    font-size: 12px !important;
    margin-bottom: 10px !important;
    scale: 10px;
}

.modalCart{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 100px;
}

