
.imagem{background-image: url(../../assets/2.png);  
background-repeat: no-repeat;
width: 100vh;
min-height: 100vh;
background-position: center;
margin-top: -60px;

}
.back3{background-color: rgba(255, 255, 255, 0.552);
}


.fundo4{
    background-color: white;
    
}

.btn{
  background-color: #ff604d !important; 
  text-decoration: none !important;
  color: rgb(255, 255, 255) !important;
}

.text-decoration{
    text-decoration: none;
}

.texto1{
    color:#ff604d;
    
}

.cadastro{
    color: #00607b;
    text-decoration: none;
    font-weight: bold !important;
}

.card1{
    width: 10vw;
    height: 20vw;
    background-color: #ff604d;
}

.tamanho{
    max-width: 100%;
}