.container-uni {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-uni .container1-uni {
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.link-uni {
    text-decoration: none;
    color: white;
}

.titulo-doador {
    color: #36607a;
    text-align: center;
    font-size: 5vh;
    background-color: white;
    margin: 5vh;
}

.button-doador {
    background-color: #36607a; 
    color: white;
    font-size: 2vh;
    cursor: pointer;
    padding: 1vh 1vw;
    border: none;
    border-radius: 10px;
    width: 25vw;
}

.img-doador {
    height: 40vh;
}

/* Estilização ONGs */

.titulo-ong {
    color: #df604f;
    text-align: center;
    font-size: 5vh;
    background-color: white;
    margin: 5vh;
}

.button-ong {
    background-color: #df604f; 
    color: white;
    font-size: 2vh;
    cursor: pointer;
    padding: 1vh 1vw;
    border: none;
    border-radius: 10px;
    width: 25vw;
}