h2, h3, p {
    margin: 0px;
}

.decorator{
    text-decoration: none;
    color: black;
}

#lista_produtos {
    margin-top: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
}


#lista_produtos article {
    width: 300px;
    height: 520px;
    display: flex;
    flex-direction: column;


    margin: 5px;

    background-color: rgb(248, 247, 247);

    border-radius: 10px;
}

#lista_produtos article figure {
    width: 100%;
    height: 310px;
    margin: 0px;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#lista_produtos article figure img {
    width: 100%;
    height: 310px;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#lista_produtos article div {
    width: 100%;
    height: 210px;
}

#lista_produtos article div header {
    margin-left: 20px;
    margin-right: 20px;

    padding-top: 10px;
    padding-bottom: 10px;

}

#lista_produtos article div footer {
    margin-left: 20px;
    margin-right: 20px;

    padding-top: 10px;
    padding-bottom: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 130px;


}

#lista_produtos article div footer p:nth-child(1) {

    flex: 0 200px;

}

#lista_produtos article div footer h3:nth-child(2) {

    flex: 0 100px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}

.display{
    display: flex;
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top h2 {
    position: absolute;
    font-size: 40px;
    font-family: 'Raleway';
    font-weight: bold;
    color: #ff604d;
    padding: 6px;
    border: #36607a double 10px;
    text-transform: uppercase;
    margin-top: 120px;
}

.alinhamento{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section2 {
    background-color: #ECE7B4;
    border-radius: 10px;
    margin: 12px !important;
}

.card-content{
    box-shadow: #36607a 5px 5px 10px;
}

.cardprodutos{
    width: 300px;
    border-radius: 10px;
}

.imagemProdutos{
    width: 100%;
    height: 300px;
}

.nomeProdutos{
    display: flex;
    justify-content: start !important;
    font-family: 'Raleway' !important;
    font-size: 25px !important;
}

.qtdProdutos{
    display: flex;
    justify-content: end !important;
    font-size: 20px !important;
    margin-top: 3px;
    margin-right: 25px;
}

.fonteProdutos{
    display: flex;
    justify-content: start;
    font-family: 'Raleway';
    font-size: 20px;
    margin-left: 9px;
}

.text-decorator-none{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-produtos{
    background-color: #FFFFFF !important;
    color: #ff604d !important;
    font-family: 'Raleway' !important;
    font-weight: bold !important;
    margin-top: 7px !important;
}

